@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: theme(colors.black);
    --background-start-rgb: theme(colors.purple.400);
    --background-end-rgb: theme(colors.purple.100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --foreground-rgb: theme(colors.black);
    --background-start-rgb: theme(colors.purple.400);
    --background-end-rgb: theme(colors.purple.100);
  }
}

:root {
  color: rgb(var(--foreground-rgb));
  background-color: theme(colors.purple.100);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
